# YAML file from https://dev.to/renegadecoder94/how-to-build-latex-with-travis-ci-and-minted-39ff
# See also https://github.com/PHPirates/travis-ci-latex-pdf
# We test each method for building LaTeX in a separate job.
language: generic

dist: bionic

before_install:
  - sudo apt-get install python-pygments
install:
  - source ./texlive/texlive_install.sh
cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive
# Change working directory so including files will work
before_script: cd $TRAVIS_BUILD_DIR
script:
  # Texliveonfly will download packages automatically
  - texliveonfly ./master.tex --compiler=pdflatex
  # You can use latexmk to automatically handle bibtex and references (recommended)
  #- latexmk -pdflua -interaction=nonstopmode ./master.tex
  
  # Run PDFLaTeX combined with biber few times to fix all references. 
  # Expect error until the last command (from Travis to not report error)
  - pdflatex -interaction=nonstopmode master.tex || true
  - bibtex master || true
  - pdflatex -interaction=nonstopmode  master.tex || true
  - pdflatex -interaction=nonstopmode master.tex # Compile twice to fix references

## Uncomment the following lines to see the packages installed in travis
#after_script:
#  - export PATH=/tmp/texlive/bin/x86_64-linux:$PATH
#  - tlmgr list --only-installed | grep -oP 'i \K.+?(?=:)'

notifications:
  email: true
deploy:
  provider: releases
  api_key:
    secure: XX1saNzLS+0+v0vqu0Ju1qNDk0zdfBbgElRf3tBo/+dVdoro0jFshxk+xy+73nMZeRRnKVIwyZyWSY8x2u6421J+a63FHrTg6FviNLhyRDQ2IDgTC3RyUiT0Y2RVHhIHd6LbtpAqgt2mg8F25eH227x5BCzikhZb/GMisXvBnSbrfM+ZaEYW++5qCnASiU66IdAzVDpAL1JNg0JJsl51ncDVYWPJWBLLwG33MVcIUn61FnD5F3ySl7LM1/rBinTa4niuE6k6NN3dYIkpQ72YbFJWgzaWb7gzc93Wtv/KRZ7XX6xyAXHCr3KsIZdluPGlOfQ6xkNwtB5JImUUVsr/MMPV8v8sCpgpjhCp2jEjh02HtHfNjy813Zt4y3JQaQmq+Dx1THIxHqKEnCvgznxLMKsMql1cjah8fN1IF//njrouqFjapZyXJyOvqDOZYgukMKvpEJSc2/RFFvNcqgwrp3bxdeH3tpv8T8oARCRLlIhbd8VzZR7zKVb5tzKl8SxXLqzYKW6g+h90ZHNfxRJcjVAQeGhCIR2K3sPtUvwsyHLVG9cddUACqsXLUJQTTYWQyb2GLeDDFZV5zXEE28FVSWAN3f1dbLLE3SsCw+nlzjI/hbny/jHEVQ+u5ce/ytcU78hB/Ada5y88lNn/Y2GHhifUhLK7V32G5BeyVXOPWEw=
  file: master.pdf
  on:
    tags: true
    branch: master
    repo: jhillairet/HDR
